
/*  =============================================
Uses seperate files for reset, theme, tables, forms, main styling
===============================================*/

/* Default setting for universal selector   */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Default styling ruleset for standard type selector HTML elements */
body {
font-family: var(--font);
font-size: var(--fs-100);
font-weight: var(--fw-normal);
color: var(--text-color);
line-height: 1.6;
max-width: clamp(320px, 90%, 1128px);
margin: auto; 
min-height: 100vh;
}

/* Rules set for header type elements */

 h1, h2, h3, h4, h5 {
  font-family: var(--font-heading), var(--font);
  font-weight: var(--fw-bold);
  color: var(--heading);
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-wrap: balance;
 }

/* rules set for H1, One per page */
h1 {
font-size: 3rem;
font-weight: var(--fw-double-bold);
text-align: center; 
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  text-align: left;
}

h4 {
  font-size: 1.5rem;
  text-align: left;
}

h5 {
  text-align: left;
  font-size: 1.25rem;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child) {
    margin-top: 2rem;
}

p {
  color: var(--text-color);
  line-height: 1.6;
}

/* Default rule set for button type element */
button {
  height: 2rem;
  width: 8rem;
  cursor: pointer;
  font-weight: var(--fw-semi-bold);
  border: none;
  background-color: transparent;
}

 
.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #23424A;
    font-weight: var(--fw-double-bold);
    background-color: var(--blue-nile);
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}
/*rule set for links. Seperate rules required for nav links and main links */

body a {
  color: var(--link-color);
  cursor: grab;
  /* text-decoration: none; */
  font-size: var(--fs-125);
}


a:link, a:visited{
  color: var(--link-color);
   text-decoration: underline;
}

a:hover, a:focus{
  background-color: var(--lightest-gray);
  color: var(--hover-color);
}

 
/*=======================================================*/
/* nav link style needs to come after general a link style to be more specific */
/*=======================================================*/
/*=============== HEADER for Nav Menu ===============*/
.header {
  position: sticky;
  top: 0;
  left: 0;
/* font-family: var(--font-heading) */
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: var(--z-fixed);
}

 nav  a {
  color: white;
}

nav  a:link, a:visited{
  color: white;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.nav-container {
  margin-inline: 1.5rem;
} 

ul {
  list-style: none ;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");


/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}
 

.nav__logo {
  color: var(--light-red);
}


.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--fw-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
    color: var(--white-color);
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
 
  .nav-sub__menu::-webkit-scrollbar {
    width: 0;
  }
 
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--fw-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}


.nav__link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--fw-semi-bold);
  transition: background-color 0.3s;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: var(--black-color);
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .nav-container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .nav-container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }

  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top 0.3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
  }
}
/* End of nav menu responsive */
ul li {
  list-style-position: inside;
  list-style-type: none;
  line-height: 1.5
}

ul li::marker {
  color: var(--amethyst);
  font-size: 1.25rem;
}

ol {
    list-style: decimal;
}

/* Style tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  list-style: none;
  justify-content: center;

}
.tag {
  background-color: var(--red-gray);
  color: var(--text-color);
  border: var(--border);
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
}
/* responsive design layout from kevin poweell used on responsive design page */
/* 
////// For this challenge ///////

- You will have to modify the HTML

- You can add new classes in the HTML
  if you need to

// Requirements
1. The headings in the first row must be
   a different color
2. The two .col at the bottom must go next
   to one another
3. The section at the bottom should have
   a dark background color and a different
   color of text
4. I've removed the "gap" that I created,
   so you'll have to add it back in

   */
.container {
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
}

.row {
    /* display: flex => flex container */
    display: flex;
    gap: 5em;
}

.col {
    /* these are now flex items */
    width: 100%;
}

.flex-center {
  align-self: center;
}

.flex-bottom {
  align-self:flex-end;
}

.hero {
    padding: 3em 0;
    background-color: var(--sw-bg-103);
    color: #FFF;
}

.hero__text {
    width: 60%;
 
}

.hero p  {
  padding:  0.5em 3em;

}
.hero__img {
  max-width: 100%;
padding-right: 1em;
}



.hero__btn {
  padding: 2em;
}


 

 
 
 
 

/*=============== Footer for a utility Nav Menu ===============*/
footer {
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: var(--z-fixed);
  gap: var(--gap);

  background-color: var(--florentine);
  border: var(--border);
  border-radius: 20px;
  padding: 15px;
  margin: 15px auto auto 5px;
}
/* Ruleset for article header */
.article_head {
  background-color: var(--blackcut);
  color: var(--lightest-gray);
  border-radius: .8rem;
  margin: 0 auto;
}

/* Rule set for an aside article header */
.aside_head {
  background-color: var(--sapphire);
  color: var(--inverted-text-color);
  border-radius: .8rem;
}

hr {
  border: none;
  border-top: 3px double var(--blackcut);
  color: #333;
  overflow: visible;
  text-align: center;
  height: 0.3rem;
}

hr::after {
  background: #fff;
  content: 'ยง';
  padding: 0 4px;
  position: relative;
  top: -13px;
}


.inline_list {
  display: inline-block;
}

.bold {
  font-weight: var(--fw-bold);
}

.italic {
  font-style: italic;
}

/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900*/
.code {
  font-family: "Roboto Mono";
  background-color: var(--code-background-color);
  font-weight: var(--fw-semi-bold);
  font-style: normal;
}

.lastdate {
  font-family: "Roboto Mono";
  font-style: italic;
}
/* color swatchs used on color card for style sheets */
.swatchsilver {
  background-color: var(--silver);
  color: var(--textcolor);
  border: var(--border);
  border-radius: .8rem;
}
.swatchsapphire {
  background-color: var(--sapphire);
  color: var(--textcolor);
   border: var(--border);
  border-radius: .8rem;
}
.swatchamethyst {
  background-color: var(--amethyst);
  color: var(--textcolor);
   border: var(--border);
  border-radius: .8rem;
}
.swatchflorentine {
  background-color: var(--florentine);
  color: var(--textcolor);
   border: var(--border);
  border-radius: .8rem;
}
.swatchmidnightblue {
  background-color: var(--midnight-blue);
  color: var(--textcolor);
   border: var(--border);
  border-radius: .8rem;
}
.swatchbluenile {
  background-color: var(--blue-nile);
  color: var(--textcolor);
   border: var(--border);
  border-radius: .8rem;
}
.swatchblackcut {
  background-color: var(--blackcut);
  color: var(--white);
   border: var(--border);
  border-radius: .8rem;
}
.swatchgreen {
  background-color: var(--green);
  color: var(--textcolor);
  border: var(--border);
  border-radius: .8rem;
}
.swatchmauve {
  background-color: var(--mauve);
  color: var(--textcolor);
  border: var(--border);
  border-radius: .8rem;
}



.title {
  color: grey;
 ;
}
 


/* code for grids lesson from KEvin Pwell  */





/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}



/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: var(--link-color);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Set core body defaults */


h1,
h2,
h3 {
  font-weight: var(--fw-bold);
}

/* utilities */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}
/* color scheme for card one */
.sw-bg-101 {
  background: hsl(var(--sw-bg-100));
}
.sw-txt-101 {
  color: var(--sw-txt-100);
}
.sw-hdr-101 {
  color: var(--sw-head-100);
}
.sw-sub-101 {
  color: hsl(var(--sw-sub-100));
}

/* color scheme for card two */
.sw-bg-102 {
  background: var(--sw-bg-101);
}
.sw-txt-102 {
  color: var(--sw-txt-101);
}
.sw-hdr-102 {
  color: hsl(var(--sw-head-101));
}
.sw-sub-102 {
  color: hsl(var(--sw-sub-101));
}


/* color scheme for card three */
.sw-bg-103 {
  background: var(--sw-bg-102);
}
.sw-txt-103 {
  color: var(--sw-txt-102);
}
.sw-hdr-103 {
  color: var(--sw-head-102);
}
.sw-sub-103 {
  color: var(--sw-sub-102);
}

/* color scheme for card four */
.sw-bg-104 {
  background: var(--sw-bg-103);
}
.sw-txt-104 {
  color: var(--sw-txt-103);
}
.sw-hdr-104 {
  color: var(--sw-head-103);
}
.sw-sub-104 {
  color: var(--sw-sub-103);
}

/* color scheme for card five */
.sw-bg-105 {
  background: var(--sw-bg-104);
}
.sw-txt-105 {
  color: var(--sw-txt-104);
}
.sw-hdr-105 {
  color: var(--sw-head-104);
}
.sw-sub-105 {
  color: var(--sw-sub-104);
}
.bg-primary-400 {
  background: hsl(var(--clr-primary-400));
}
.bg-secondary-400 {
  background: hsl(var(--clr-secondary-400));
}
.bg-secondary-500 {
  background: hsl(var(--clr-secondary-500));
}

.bg-neutral-100 {
  background: hsl(var(--clr-neutral-100));
}

.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}
.text-secondary-400 {
  color: hsl(var(--clr-secondary-400));
}
.border-primary-400 {
  border: 2px solid #a775f1;
}
/*=============================*/
/* components for a home page grid*/
/*=============================*/
.reference-grid {
  display: grid;
  gap: var(--gap);
  grid-auto-columns: 1fr;
  grid-template-areas:
   'one'
   'two'
   'three'
   'four'
   'five'
   'six';
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

.reference {
  font-size: var(--fs-125);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.reference:nth-child(1) {
  grid-area: one;
}
.reference:nth-child(2) {
  grid-area: two;
}
.reference:nth-child(3) {
  grid-area: three;
}
.reference:nth-child(4) {
  grid-area: four;
}
.reference:nth-child(5) {
  grid-area: five;
}

@media screen and (min-width: 33em) {
  .reference-grid {
      grid-template-areas:
      "one one"
      "two three"
      "five five"
      "four four";
  }
}

@media screen and (min-width: 38em) {
  .reference-grid {
    grid-template-areas:
     'one one'
     'two five'
     'three five'
     'four four';
  }
}

@media screen and (min-width: 54em) {
  .reference-grid {
      grid-template-areas:
      "one one two"
      "five five five"
      "three four four";
  }
}

@media screen and (min-width: 75em) {
  .reference-grid {
      grid-template-areas:
      "one one two five"
      "three four four five";
  }
}


.reference.quote {

  background-repeat: no-repeat;
  background-position: top right 10%;
}

.reference img {
  width: 1.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.reference .picture {
  width: 300px;
  height: 300px;
}

.reference .name {
  font-size: var(--fs-125);
  font-weight: var(--fw-normal);
  line-height: 1;
}

.reference .position {
  font-size: var(--fs-118);
  opacity: 0.5;
}

.reference > p:first-of-type { 
  font-size: var(--fs-150);
  line-height: 1.2;
}

.reference > p:last-of-type {
  opacity: 0.7;
} */

/*=============================*/
/* end of components for a home page grid*/
/*=============================*/

/*===============================*/
 /* components for a CSS page grid */

 div {
  display: grid;
 }

.css-grid {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(12, 1fr);
}
/*Spans 10 columns */
.css-grid-item-1 {
    grid-column: 1 / 11;
    /* Adopts the adopts the parent's grid tracks */
    display: grid;
    grid-template-columns: subgrid;
}
.css-subgrid-item:first-child {
    grid-column: 1 / 6;
}
.css-subgrid-item:last-child {
    grid-column: 6 / 11;
}
 /* Spans two columns */
.css-grid-item-2 {
    grid-column: 11 / 13;
}
/* Spans six columns each */
.css-grid-item-3 {
    grid-column: 1 / 7;
}
.css-grid-item-4 {
    grid-column: 7 / 13;
}
.css-subgrid-item {
    font-size: .5em;
    padding: .5rem;
}
 
 .content-grid {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.content-col {
  flex: 1;
  margin: 0 0.5em;
  padding: 0 0.5em;
  color: var(--text-color)
}




/* ============
   === REMS ===
   ============ */



.container-col--rem {
font-size: 1rem
}

.container-col--rem h1 {
  font-size: 2.5rem;
}

.container-col--rem p {
  font-size: 1rem;
}

