:root {
/* ========================================*/  
/* =======Named colors for the scheme ==========*/
/* =======================================*/   
 --light-red: #C22727;
--dark-red: hsl(360, 100%, 30%);
--black: #131313;
--white: #fff;
--white-smoke: #f5f5f5;
--dark-blue: #062A77;
--light-blue: #0053AF;
--red-gray: #ded2cf;
--lightest-gray: #eeeeee;
--light-gray: #cccccc;
--mid-gray: #999999;
--dark-gray: #666666;
--darkest-gray: #333333; 
--silver: #c0c0c0;
--sapphire: #0072bc;
--amethyst: #782b90;  
--florentine: #ffd100;  
--florentine_clear: #ffd100 opacity 30%;
--midnight-blue: #27495d;  
--blue-nile:  #75bee9;  
--mauve: #bd8cbf;
--green: #a5c300;
--blackcut: #000000;

/* ==================================*/  
/* =======Text & font color pallette ==========*/
/* ==================================*/  
/* Light Mode Color Scheme */
--text-color: var(--black);
--weak-text-color: var(--dark-gray);
--heading: var(--black);

/* Dark Mode Color Scheme */
--dark-text-color: var(--white);
--dark-weak-text-color: var(--lightest-gray);
--dark-heading: var(--white)

/* ====================================*/  
/* =======Background color pallette =========*/
/* ====================================*/  
/* Light Mode Color Scheme */
--background-color: var(--white);  

/* Dark Mode Color Scheme */
--dark-background-color: var(--dark-blue); 

/* ====================================*/  
/* =======Card color pallette ===============*/
/* ====================================*/  

--sw-bg-100: 359.5 100% 25%;
--sw-bg-101:var(--white-smoke);
--sw-bg-102:var(--lightest-gray);
--sw-bg-103:var(--red-gray);
--sw-bg-104:var(--black);
--sw-txt-100:var(--white);
--sw-txt-101:var(--black);
--sw-txt-102:var(--black);
--sw-txt-103:var(--black);
--sw-txt-104:var(--white);
--sw-head-100: var(--white-smoke);
--sw-head-101: 0 0% 0%;
--sw-head-102:var(--dark-blue);
--sw-head-103:var(--dark-blue);
--sw-head-104:var(--white-smoke);
--sw-sub-100: 0 100% 98.2% ;
--sw-sub-101: 0  0% 20%;
--sw-sub-102:var(--light-blue);
--sw-sub-103:var(--light-blue);
--sw-sub-104:var(--lightest-gray);
/* grid colors */
  --clr-primary-400: 359.5 100% 25%;
  --clr-secondary-400: 217 19% 35%;
  --clr-secondary-500: 219 29% 14%;
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-200: 210 46% 95%;
  --clr-neutral-300: 0 0% 81%;



    --link-color: var(--sapphire);
    --icon-color: var(--dark-blue);
    --hover-color: var(--dark-blue);
 

 

    --weak-border-color: var(--light-gray);
    --border-color: var(--dark-gray);
    --header-background-color: var(--light-blue);
    --header-text-color: var(--white);
    --card-background-color: var(--lightest-gray);
    --toggle-background-off: var(--light-gray);
    --toggle-background-on: var(--light-blue);

    --button-background-color: var(--light-blue);
    --button-border-color: var(--light-blue);
    --button-text-color: var(--white);
    --button-alert-color: var(--light-red);
    --code-background-color: var(--lightest-gray);




/* Syft color scheme*/



 

    --flash-background-color: var(--light-blue);
    --flash-text-color: var(--white);
    --flash-alert-color: var(--light-red);
 
 

    


/* root variable for nav_responsive  */
/*=============== VARIABLES CSS ===============*/
 
  --header-height: 3.5rem;
  --border: 1px solid var(--border-color);    
  --gap: 1.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;


  /*========== Font and typography ==========*/
  /* Private font files can be used for unique branding */

@font-face {
  font-family: "pluto";
  src: url("../Fonts/HVD\ Fonts\ -\ PlutoSansRegular.otf") format("openType");
}
@font-face {
  font-family: "plutoBold";
  font-weight: bold;
  src: url("../Fonts/HVD\ Fonts\ -\ PlutoSansBold.otf") format("openType");
}
  /*.5rem = 8px | 1rem = 16px ...*/
 --font-heading: "pluto";
 --font: 'Roboto' , "Helvetica Neue" , Arial , sans-serif; 

  /*altenative general font to roboto  */
 /* --font: Montserrat, Helvetica, Arial, sans-serif; */
 

  /*========== Font size, scale in eights ==========*/
  /*==fs100, fs118, fs114, fs138, fs112, fs158, fs134, fs178, fs200;
  /*========== Font size, scale in eights ==========*/
  --fs-100: 1rem;
  --fs-118: 1.125rem;
  --fs-125: 1.25rem;
  --fs-150: 1.5rem;
  --fs-200: 2rem;

  /*========== Font weight ==========*/
   --fw-normal: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-double-bold: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--dark-background-color);
        --text-color: var(--dark-text-color);
        --weak-text-color: var(--dark-weak-text-color) ;
        --heading: var(--dark-heading);

        --link-color: var(--blue-nile);
        --icon-color: var(--white);
        --hover-color: var(--darkest-gray);

        --weak-border-color: var(--dark-gray);
        --border-color: var(--light-gray);
 
        --card-background-color: var(--darkest-gray);
        --dropdown-menu-background: var(--black);
        --toggle-background-off: var(--dark-gray);

 
    }
}

@media screen and (max-width: 800px) {
    :root {
        --header-height: 4rem;
        --body-padding: 1rem;
    }
}


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
 
 